USE [Lab1]
-- Jesus Francisco Hernandez Carrillo 1591934

GO
/****** Object:  Trigger [TR_RECETA]    Script Date: 05/12/2018 0:39:31 ******/
DROP TRIGGER [dbo].[TR_RECETA]
GO
/****** Object:  Trigger [TR_PACIENTE]    Script Date: 05/12/2018 0:39:31 ******/
DROP TRIGGER [dbo].[TR_PACIENTE]
GO
/****** Object:  Trigger [TR_DOCTOR]    Script Date: 05/12/2018 0:39:31 ******/
DROP TRIGGER [dbo].[TR_DOCTOR]
GO
/****** Object:  StoredProcedure [dbo].[DropUpReceta]    Script Date: 05/12/2018 0:39:31 ******/
DROP PROCEDURE [dbo].[DropUpReceta]
GO
/****** Object:  StoredProcedure [dbo].[DropUpPaciente]    Script Date: 05/12/2018 0:39:31 ******/
DROP PROCEDURE [dbo].[DropUpPaciente]
GO
/****** Object:  StoredProcedure [dbo].[DropUpMedicamento]    Script Date: 05/12/2018 0:39:31 ******/
DROP PROCEDURE [dbo].[DropUpMedicamento]
GO
/****** Object:  StoredProcedure [dbo].[DropUpEmpleados]    Script Date: 05/12/2018 0:39:31 ******/
DROP PROCEDURE [dbo].[DropUpEmpleados]
GO
/****** Object:  StoredProcedure [dbo].[DropUpDoctor]    Script Date: 05/12/2018 0:39:31 ******/
DROP PROCEDURE [dbo].[DropUpDoctor]
GO
ALTER TABLE [dbo].[Receta] DROP CONSTRAINT [FK_Receta_Paciente]
GO
ALTER TABLE [dbo].[Receta] DROP CONSTRAINT [FK_Receta_Medicamento]
GO
ALTER TABLE [dbo].[Receta] DROP CONSTRAINT [FK_Receta_Doctor]
GO
ALTER TABLE [dbo].[Doctor] DROP CONSTRAINT [FK_Doctor_Empleados]
GO
/****** Object:  Table [dbo].[Receta]    Script Date: 05/12/2018 0:39:31 ******/
DROP TABLE [dbo].[Receta]
GO
/****** Object:  Table [dbo].[Doctor]    Script Date: 05/12/2018 0:39:31 ******/
DROP TABLE [dbo].[Doctor]
GO
/****** Object:  View [dbo].[Pacientes y su edad]    Script Date: 05/12/2018 0:39:31 ******/
DROP VIEW [dbo].[Pacientes y su edad]
GO
/****** Object:  Table [dbo].[Paciente]    Script Date: 05/12/2018 0:39:31 ******/
DROP TABLE [dbo].[Paciente]
GO
/****** Object:  View [dbo].[Medicamentos y sus restricciones]    Script Date: 05/12/2018 0:39:31 ******/
DROP VIEW [dbo].[Medicamentos y sus restricciones]
GO
/****** Object:  View [dbo].[Medicamentos y sus precios]    Script Date: 05/12/2018 0:39:31 ******/
DROP VIEW [dbo].[Medicamentos y sus precios]
GO
/****** Object:  Table [dbo].[Medicamento]    Script Date: 05/12/2018 0:39:31 ******/
DROP TABLE [dbo].[Medicamento]
GO
/****** Object:  View [dbo].[Puestos y Sueldos de los trabajdores]    Script Date: 05/12/2018 0:39:31 ******/
DROP VIEW [dbo].[Puestos y Sueldos de los trabajdores]
GO
/****** Object:  View [dbo].[Nombres y puestos]    Script Date: 05/12/2018 0:39:31 ******/
DROP VIEW [dbo].[Nombres y puestos]
GO
/****** Object:  View [dbo].[Trabajadores]    Script Date: 05/12/2018 0:39:31 ******/
DROP VIEW [dbo].[Trabajadores]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 05/12/2018 0:39:31 ******/
DROP TABLE [dbo].[Empleados]
GO
USE [master]
GO
/****** Object:  Database [Lab1]    Script Date: 05/12/2018 0:39:31 ******/
DROP DATABASE [Lab1]
GO
/****** Object:  Database [Lab1]    Script Date: 05/12/2018 0:39:31 ******/
CREATE DATABASE [Lab1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Lab1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Lab1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Lab1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Lab1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Lab1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Lab1]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 05/12/2018 0:39:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[Nom_Trabajador] [nvarchar](50) NOT NULL,
	[Num_Trabajador] [uniqueidentifier] NOT NULL,
	[Puesto] [ntext] NOT NULL,
	[Sueldo] [money] NOT NULL,
	[RFC] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Empleados] PRIMARY KEY CLUSTERED 
(
	[Num_Trabajador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[Trabajadores]    Script Date: 05/12/2018 0:39:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Trabajadores] AS
	SELECT 
		Nom_Trabajador , Puesto
		From Empleados
GO
/****** Object:  View [dbo].[Nombres y puestos]    Script Date: 05/12/2018 0:39:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--5 vistas
	CREATE VIEW [dbo].[Nombres y puestos] AS
	SELECT 
		Nom_Trabajador , Puesto
		From Empleados
GO
/****** Object:  View [dbo].[Puestos y Sueldos de los trabajdores]    Script Date: 05/12/2018 0:39:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--5 vistas
CREATE VIEW [dbo].[Puestos y Sueldos de los trabajdores] AS
	SELECT Puesto, Sueldo
	FROM Empleados

	
GO
/****** Object:  Table [dbo].[Medicamento]    Script Date: 05/12/2018 0:39:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicamento](
	[Nom_Med] [nvarchar](max) NOT NULL,
	[Id_Med] [uniqueidentifier] NOT NULL,
	[Restricciones] [text] NOT NULL,
	[Precio] [money] NOT NULL,
	[Caducidad] [date] NOT NULL,
 CONSTRAINT [PK_Medicamento] PRIMARY KEY CLUSTERED 
(
	[Id_Med] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[Medicamentos y sus precios]    Script Date: 05/12/2018 0:39:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--5 vistas
CREATE VIEW [dbo].[Medicamentos y sus precios] AS
	SELECT Nom_Med, Precio
	FROM Medicamento


		
	
	
GO
/****** Object:  View [dbo].[Medicamentos y sus restricciones]    Script Date: 05/12/2018 0:39:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--5 vistas
	CREATE VIEW [dbo].[Medicamentos y sus restricciones] AS
	SELECT Nom_Med, Restricciones
	FROM Medicamento



		
	
	
GO
/****** Object:  Table [dbo].[Paciente]    Script Date: 05/12/2018 0:39:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paciente](
	[Nom_Pac] [nvarchar](50) NOT NULL,
	[Edad] [real] NOT NULL,
	[Peso] [float] NOT NULL,
	[Id_Pac] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Paciente] PRIMARY KEY CLUSTERED 
(
	[Id_Pac] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Pacientes y su edad]    Script Date: 05/12/2018 0:39:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--5 vistas
	CREATE VIEW [dbo].[Pacientes y su edad] AS
	SELECT Nom_Pac, Edad
	FROM Paciente



		
	
	
GO
/****** Object:  Table [dbo].[Doctor]    Script Date: 05/12/2018 0:39:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctor](
	[Cedula] [uniqueidentifier] NOT NULL,
	[Num_Trabajador] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Doctor] PRIMARY KEY CLUSTERED 
(
	[Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Receta]    Script Date: 05/12/2018 0:39:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receta](
	[Id_Pac] [uniqueidentifier] NOT NULL,
	[Cedula] [uniqueidentifier] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Id_Receta] [uniqueidentifier] NOT NULL,
	[Id_Med] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Receta] PRIMARY KEY CLUSTERED 
(
	[Id_Receta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Doctor] ([Cedula], [Num_Trabajador]) VALUES (N'9cf404d7-a87c-4bdd-9a7e-10ca61b2eb4a', N'c6df5bdc-32dd-4bb1-b584-f4a4b87a5b1a')
INSERT [dbo].[Doctor] ([Cedula], [Num_Trabajador]) VALUES (N'1e48bd69-fe13-4430-bb5f-1a9708b03026', N'0e3332e3-35e1-422a-934e-2bb616804fc1')
INSERT [dbo].[Doctor] ([Cedula], [Num_Trabajador]) VALUES (N'9f7c31ad-8d7e-4efd-918a-22d5c792f6af', N'b1abe505-8317-4b02-add1-5b4adb0daece')
INSERT [dbo].[Empleados] ([Nom_Trabajador], [Num_Trabajador], [Puesto], [Sueldo], [RFC]) VALUES (N'Plutarco Calles', N'33c27391-1466-41ed-b509-237ec9693a94', N'Chofer', 7000.0000, N'ee98aca3-a3c0-4250-976c-032cc585967d')
INSERT [dbo].[Empleados] ([Nom_Trabajador], [Num_Trabajador], [Puesto], [Sueldo], [RFC]) VALUES (N'Angel Lopez', N'0e3332e3-35e1-422a-934e-2bb616804fc1', N'Medico', 12000.0000, N'82e17680-a454-4974-bda4-82bb0c5ae44e')
INSERT [dbo].[Empleados] ([Nom_Trabajador], [Num_Trabajador], [Puesto], [Sueldo], [RFC]) VALUES (N'Javier Hernandez', N'af9b73f0-3966-4d0b-8e63-3528760ca52b', N'Medico', 12000.0000, N'8e0c3d73-b075-4d41-8d61-332a0d4dd93d')
INSERT [dbo].[Medicamento] ([Nom_Med], [Id_Med], [Restricciones], [Precio], [Caducidad]) VALUES (N'Omeprazol', N'7384d4b9-fc0e-421c-a45f-0f5d36d86975', N'Hipersensibilidad. No mayores de 50 años. No mujeres embarazadas o en lactancia. Se vende sin receta.', 65.0000, CAST(N'2018-10-21' AS Date))
INSERT [dbo].[Medicamento] ([Nom_Med], [Id_Med], [Restricciones], [Precio], [Caducidad]) VALUES (N'Paracetamol', N'c93f2238-b5ea-481e-a225-1aaa78174472', N'Hipersensibilidad. No se debe administrar por periodos prolongados. No menores de 12 años. No mujeres embarazadas o en lactancia. Se vende sin receta.', 25.0000, CAST(N'2018-10-21' AS Date))
INSERT [dbo].[Medicamento] ([Nom_Med], [Id_Med], [Restricciones], [Precio], [Caducidad]) VALUES (N'Loperamida', N'58b8ccb7-ce93-4a15-a35a-2195ef90fd9e', N'Hipersensibilidad. No mujeres embarazadas o en lactancia. Se vende sin receta', 55.0000, CAST(N'2018-10-21' AS Date))
INSERT [dbo].[Paciente] ([Nom_Pac], [Edad], [Peso], [Id_Pac]) VALUES (N'Fernando del Rio Nieto', 27, 71, N'c62ff84e-8b71-4dae-b004-10e74945af33')
INSERT [dbo].[Paciente] ([Nom_Pac], [Edad], [Peso], [Id_Pac]) VALUES (N'Cristobal Anceres Montemayor', 21, 66.5, N'bae6a765-bd8a-486d-bfc5-2380e17bd123')
INSERT [dbo].[Paciente] ([Nom_Pac], [Edad], [Peso], [Id_Pac]) VALUES (N'Francisco Soto Mendoza', 35, 86.5, N'dd29cb5d-a557-40b1-9395-39712caa4571')
INSERT [dbo].[Receta] ([Id_Pac], [Cedula], [Fecha], [Id_Receta], [Id_Med]) VALUES (N'c2069389-b99f-4e73-9494-d3f480b6e655', N'64cb1737-5992-474f-9e6a-c30aa56709b0', CAST(N'2018-10-27' AS Date), N'8e1c2162-b37f-469a-be58-06a1b65b242a', N'8ba76421-54f4-49db-a912-4675afa49272')
INSERT [dbo].[Receta] ([Id_Pac], [Cedula], [Fecha], [Id_Receta], [Id_Med]) VALUES (N'bae6a765-bd8a-486d-bfc5-2380e17bd123', N'1e48bd69-fe13-4430-bb5f-1a9708b03026', CAST(N'2018-10-27' AS Date), N'12a739c9-99ec-4419-9ded-0ae08815640a', N'f8835817-86c2-402b-9d33-b2802dcb5db0')
INSERT [dbo].[Receta] ([Id_Pac], [Cedula], [Fecha], [Id_Receta], [Id_Med]) VALUES (N'a50c3492-b000-4673-84b7-6b32e19857c7', N'7bf5ba31-4202-40a7-acc1-27903cbcad09', CAST(N'2018-10-27' AS Date), N'1b3d22dc-90c2-47ab-8b49-2d8e100f19fc', N'f8835817-86c2-402b-9d33-b2802dcb5db0')
ALTER TABLE [dbo].[Doctor]  WITH CHECK ADD  CONSTRAINT [FK_Doctor_Empleados] FOREIGN KEY([Num_Trabajador])
REFERENCES [dbo].[Empleados] ([Num_Trabajador])
GO
ALTER TABLE [dbo].[Doctor] CHECK CONSTRAINT [FK_Doctor_Empleados]
GO
ALTER TABLE [dbo].[Receta]  WITH CHECK ADD  CONSTRAINT [FK_Receta_Doctor] FOREIGN KEY([Cedula])
REFERENCES [dbo].[Doctor] ([Cedula])
GO
ALTER TABLE [dbo].[Receta] CHECK CONSTRAINT [FK_Receta_Doctor]
GO
ALTER TABLE [dbo].[Receta]  WITH CHECK ADD  CONSTRAINT [FK_Receta_Medicamento] FOREIGN KEY([Id_Med])
REFERENCES [dbo].[Medicamento] ([Id_Med])
GO
ALTER TABLE [dbo].[Receta] CHECK CONSTRAINT [FK_Receta_Medicamento]
GO
ALTER TABLE [dbo].[Receta]  WITH CHECK ADD  CONSTRAINT [FK_Receta_Paciente] FOREIGN KEY([Id_Pac])
REFERENCES [dbo].[Paciente] ([Id_Pac])
GO
ALTER TABLE [dbo].[Receta] CHECK CONSTRAINT [FK_Receta_Paciente]
GO
/****** Object:  StoredProcedure [dbo].[DropUpDoctor]    Script Date: 05/12/2018 0:39:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Procedure 1--
create procedure [dbo].[DropUpDoctor]
as
begin

	select *
	into #Doctor
	from Doctor;

	drop table Doctor;

	create table DoctorNew(Cedula uniqueidentifier, Num_Trabajador uniqueidentifier);

	 select * from DoctorNew;

end;
GO
/****** Object:  StoredProcedure [dbo].[DropUpEmpleados]    Script Date: 05/12/2018 0:39:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[DropUpEmpleados]
as
begin

	select *
	into #Empleados
	from Empleados;

	drop table Empleados;

	create table EmpleadosNew(Nom_Trabajador nvarchar(50), Num_Trabajdor int, Puesto ntext, Sueldo money, RFC uniqueidentifier);

	 select * from EmpleadosNew;

end;
GO
/****** Object:  StoredProcedure [dbo].[DropUpMedicamento]    Script Date: 05/12/2018 0:39:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[DropUpMedicamento]
as
begin

	select *
	into #Medicamento
	from Medicamento;

	drop table Medicamento;

	create table MedicamentoNew(Nom_Med nvarchar(max), Id_Med uniqueidentifier, Restricciones text, Precio money, Caducidad date);

	 select * from MedicamentoNew;

end;
GO
/****** Object:  StoredProcedure [dbo].[DropUpPaciente]    Script Date: 05/12/2018 0:39:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[DropUpPaciente]
as
begin

	select *
	into #Paciente
	from Paciente;

	drop table Paciente;

	create table PacienteNEW(Nom_Pac nvarchar(50), Edad real, Peso float, Id_Pac uniqueidentifier);

	 select * from PacienteNEW;

end;
GO
/****** Object:  StoredProcedure [dbo].[DropUpReceta]    Script Date: 05/12/2018 0:39:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[DropUpReceta]
as
begin

	select *
	into #Receta
	from Receta;

	drop table Receta;

	create table RecetaNEW(Id_Pac uniqueidentifier, Cedula uniqueidentifier, Fecha date, Id_Receta uniqueidentifier, Id_Med uniqueidentifier);

	 select * from RecetaNEW;

end;
GO
/****** Object:  Trigger [dbo].[TR_DOCTOR]    Script Date: 05/12/2018 0:39:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



create trigger [dbo].[TR_DOCTOR]
on [dbo].[Doctor]
AFTER DELETE
	AS
	PRINT N'SE ELIMINO UN DOCTOR';
GO
ALTER TABLE [dbo].[Doctor] ENABLE TRIGGER [TR_DOCTOR]
GO
/****** Object:  Trigger [dbo].[TR_PACIENTE]    Script Date: 05/12/2018 0:39:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



create trigger [dbo].[TR_PACIENTE]
on [dbo].[Paciente]
AFTER UPDATE
	AS
	IF UPDATE (Id_Pac)
	BEGIN
	PRINT N'SE INSERTO NUEVO PACIENTE';
END
GO
ALTER TABLE [dbo].[Paciente] ENABLE TRIGGER [TR_PACIENTE]
GO
/****** Object:  Trigger [dbo].[TR_RECETA]    Script Date: 05/12/2018 0:39:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[TR_RECETA]
on [dbo].[Paciente]
INSTEAD of INSERT
	AS
	PRINT N'SE CREO NUEVA RECETA';
GO
ALTER TABLE [dbo].[Paciente] ENABLE TRIGGER [TR_RECETA]
GO
USE [master]
GO
